@media (max-width: 108em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 105em) {
  html {
    font-size: 8.75px;
  }
}

@media (max-width: 91.5em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 91em) {
  html {
    font-size: 8.4px;
  }
}

@media (max-width: 90em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 80em) {
  html {
    font-size: 7.2px
  }
}

@media (max-width: 72em) {
  html {
    font-size: 6.5px;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 5.5px;
  }
  .hero_text {
    margin-right: 2rem;
  }
.hero_link:first-child {
  margin-right: 4rem;
}
.hero_buttons {
  display: flex;
  margin-bottom: 4.5rem;
  white-space: nowrap;
}
}

@media (min-width: 48em) {
	.hero_link:hover {
		background-color: #FFFFFF;
		color: #5540BF;
	}
}

@media (max-width: 48em) {
  html {
    font-size: 10px;
  }
  .wrapper {
    padding-bottom: 2rem;
  }
  .container {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .header {
    margin-bottom: 8rem;
  }
  .header_logo {
    font-size: 2.2rem;
}
  .header_nav {
    display: none;
}
.hero .container {
  text-align: center;
  flex-direction: column-reverse;
}
.hero-img {
  width: 27.1rem;
  height: 25.1rem;
  margin-bottom: 4rem;
}
.hero_header,
.online_header {
  font-size: 3rem;
  line-height: 130%;
}
.hero_text {
  width: 100%;
}
.hero_description {
  margin-bottom: 7rem;
  max-width: 64rem;
}
.hero_buttons {
  flex-direction: column;
  justify-content: center;
}
.hero_link:first-child {
  margin-right: 0;
  margin-bottom: 4rem;

.hero_link {
  display: block;
  text-align: center;
  margin-right: 0;
}
}
.hero_subtext {
  font-size: 1.3rem;
  line-height: 140%;
  display: initial;
}




.online .container {
  flex-direction: column-reverse;
} 
.online_img {
  width: 100%;
  height: auto;
} 




.footer {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}
.footer_logo {
  font-size: 1rem;
  white-space: nowrap;
}
.footer_icons {
  margin-bottom: 1.6rem;
}
.footer_icon {
  width: 2rem;
  height: 2rem;
}
.footer_text {
  font-size: 1rem;
  text-align: end;
}
}

/* @media (max-width: 108em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 105em) {
  html {
    font-size: 8.75px;
  }
}

@media (max-width: 91.5em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 91em) {
  html {
    font-size: 8.4px;
  }
}

@media (max-width: 90em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 80em) {
  html {
    font-size: 7.2px
  }
}

@media (max-width: 72em) {
  html {
    font-size: 6.5px;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 5.5px;
  }
}